@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
html {
  height: 100%; }

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Lato, FontAwesome;
  color: white;
  text-align: center; }

body {
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  body::before {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: -1;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    content: "";
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./assets/me.jpg"); }

.container {
  margin-top: 2em; }
  @media (min-width: 767px) {
    .container {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: row;
      flex-direction: row;
      position: relative; } }

*,
*:before,
*:after {
  box-sizing: border-box; }

.visible {
  opacity: 1;
  animation: none;
  z-index: initial;
  transition: z-index 0.5s step-start, opacity 0.5s; }

.hidden {
  opacity: 0;
  z-index: -1 !important;
  transition: z-index 0.5s step-end, opacity 0.5s; }

.header-container {
  position: relative; }
  @media (min-width: 767px) {
    .header-container {
      width: 20%;
      -ms-flex: 1;
      flex: 1; } }
  .header-container header {
    font-size: 15vw;
    text-transform: uppercase;
    /* position: absolute; */
    /* transform: rotateZ(-90deg); */
    z-index: -1;
    margin-bottom: 7%;
    font-weight: 700;
    /* top: 78%; */
    /* left: 0; */
    /* transform-origin: 18%; */ }
    @media (min-width: 767px) {
      .header-container header {
        margin: 0;
        top: 0;
        left: 20vw;
        font-size: 9em;
        text-transform: uppercase;
        position: absolute;
        z-index: -1;
        transform: rotateZ(-90deg);
        font-weight: 700;
        transform-origin: 40% 270%; } }

@media (min-width: 767px) {
  .project-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex: 4;
    flex: 4; } }

.project-container .project {
  max-width: 90vw;
  font-weight: 300;
  margin: 5px 0;
  overflow: hidden;
  position: relative;
  display: inline-block;
  border-radius: 4px;
  transition: opacity 0.5s;
  box-shadow: 0 0 10px black;
  font-size: 1.5em;
  -ms-flex: 1;
  flex: 1;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }
  .project-container .project__links-container {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s;
    z-index: -1; }
  .project-container .project__links {
    margin: 1% 0;
    position: relative; }
    .project-container .project__links:hover {
      text-shadow: 0 0 2px white; }
    .project-container .project__links__text {
      margin-left: 3px;
      z-index: -1; }
  .project-container .project > img {
    transition: transform .2s, filter 0.2s;
    display: block;
    width: 100%;
    height: auto;
    transform: scale(1.04); }
  .project-container .project a {
    text-decoration: none;
    color: white;
    display: inline-block; }
  .project-container .project:hover {
    box-shadow: 0 0 20px black;
    cursor: pointer;
    opacity: 1; }
    .project-container .project:hover img {
      transform: scale(1.15);
      filter: brightness(0.5); }
    .project-container .project:hover .project__description__text,
    .project-container .project:hover .project__links-container {
      transition: z-index 1s 0.05s;
      z-index: 1;
      opacity: 1; }
  .project-container .project__description-container {
    width: 90%;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    transition: opacity 0.5s; }
  .project-container .project__description__text {
    font-size: 1.2rem;
    opacity: 0;
    pointer-events: none; }
  @media (min-width: 767px) {
    .project-container .project {
      margin: 0 14px 10px 0;
      min-width: 400px;
      max-width: 800px; }
      .project-container .project > img {
        min-width: 400px; }
      .project-container .project__links-container {
        top: 50%;
        z-index: initial; } }

.project-container .graphics-container {
  width: 90vw;
  height: 60vw;
  background: black;
  position: relative; }
  .project-container .graphics-container .graphics {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center; }
    .project-container .graphics-container .graphics img {
      transition: transform .2s, filter 0.2s;
      width: 100px;
      margin: 1em; }
  @media (min-width: 767px) {
    .project-container .graphics-container {
      width: 100%;
      height: 100%; } }

.project-container .fill-space {
  -ms-flex: 1;
  flex: 1;
  margin: 5px 0; }
  @media (min-width: 767px) {
    .project-container .fill-space {
      margin: 0 14px 10px 0;
      min-width: 400px; } }

footer {
  position: absolute;
  bottom: 0; }
