.header-container {
    @include respond-to(small) {
        width: 20%;
        flex: 2;
    }
    header {
        font-size: 15vw;
        text-transform: uppercase;
        /* position: absolute; */
        /* transform: rotateZ(-90deg); */
        z-index: -1;
        margin-bottom: 7%;
        font-weight: 700;
        /* top: 78%; */
        /* left: 0; */
        /* transform-origin: 18%; */
        @include respond-to(small) {
            margin: 0;
            font-size: 9em;
            text-transform: uppercase;
            position: absolute;
            transform: rotateZ(-90deg);
            z-index: -1;
            top: 50%;
            left: 40px;
            height: 40px;
            padding: 0 1em;
            transform: rotateZ(-90deg);
            line-height: 40px;
            font-weight: 700;
            transform-origin: 100% 0;
        }
        // @include respond-to(large) {
        //     font-size: 9em;
        // }
    }
}