.header-container {
    @include respond-to(small) {
        width: 20%;
        flex: 1;
    }
    position: relative;
    header {
        font-size: 15vw;
        text-transform: uppercase;
        /* position: absolute; */
        /* transform: rotateZ(-90deg); */
        z-index: -1;
        margin-bottom: 7%;
        font-weight: 700;
        /* top: 78%; */
        /* left: 0; */
        /* transform-origin: 18%; */
        @include respond-to(small) {
            margin: 0;
            top: 0;
            left: 20vw;
            font-size: 9em;
            text-transform: uppercase;
            position: absolute;
            z-index: -1;
            transform: rotateZ(-90deg);
            font-weight: 700;
            transform-origin: 40% 270%;
        }
        // @include respond-to(large) {
        //     font-size: 9em;
        // }
    }
}