html {
    height: 100%;
}

body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Lato, FontAwesome;
    color: white;
    text-align: center;
    // display: flex;
}

body {
    // width: 100vw;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    &::before {
        backface-visibility: hidden;
        z-index: -1;
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        content: "";
        background: {
            repeat: no-repeat;
            size: cover;
            image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./assets/me.jpg");
        }
    }
}

.container {
    margin-top: 2em;
    @include respond-to(small) {
        display: flex;
        flex-direction: row;
        position: relative;
    }
}

// Some kind of zeroing
*,
*:before,
*:after {
    box-sizing: border-box;
}

.visible {
    opacity: 1;
    animation: none;
    z-index: initial;
    transition: z-index 0.5s step-start, opacity 0.5s;
}

.hidden {
    opacity: 0;
    // for development Needs testing
    z-index: -1 !important;
    transition: z-index 0.5s step-end, opacity 0.5s;
}